@model Prime.Data.Entity.Campaign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.Playername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Playername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampaignId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
