@model IEnumerable<RPG.Web.Models.Unit.Platoon>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlatoonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Army)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlatoonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Army.ArmyId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlatoonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlatoonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlatoonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
