@model IEnumerable<Prime.Data.Entity.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Campaign.CampaignTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionParameters)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Campaign.CampaignTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionParameters)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MissionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MissionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MissionId })
        </td>
    </tr>
}

</table>
