@model IEnumerable<Prime.Data.Entity.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Campaign.CampaignTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Squad.SquadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitClass.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Campaign.CampaignTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Squad.SquadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitClass.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UnitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitId })
        </td>
    </tr>
}

</table>
