@model IEnumerable<RPG.Web.Models.Unit.Army>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArmyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArmyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.PlayerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArmyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArmyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArmyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
